@page
@model PracticalTest.Pages.Account.LoginModel
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label>Email</label>
        <input type="email" asp-for="LoginUser.Email" required />
        <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
    </div>
    <div>
        <label>Password</label>
        <input type="password" asp-for="LoginUser.Password" required />
        <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
    </div>
    <button type="submit">Login</button>
    <a asp-page="/Account/Register"><button type="button">Register</button></a>
</form>